body {
	font-family: "Helvetica", sans-serif;
	font-weight:200;
	font-size: 16px;
	color: #323A44;
}

a {
	font-weight: bold;
	color: #3f51b5;
}

body > header {
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 46px 50px 0 50px;
	z-index: 5;
	background: white;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

body > .root {
	position: absolute;
	top: 80px;
}

.beta-banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2px;
	margin: 0;
	text-align: center;
	background: #E59393;
	color: #FFFFFF;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	font-weight: bold;
	font-size: 20px;
}

.beta-banner a {
	color: #fff;
	text-decoration: underline;
}

.logo img {
	width: 100%;
	height: auto;
}

.nav-list {
	list-style: none;
	font-family: "Helvetica", sans-serif;
	font-weight:600;
	font-size: 16px;
	color: #323A44;
	text-align:right;
	vertical-align: bottom;
}

.nav-list a {
	color: #323A44;
}

input#searchbar {
	background: #FFFFFF;
	border: 1px solid #979797;
	border-radius: 5px;
	width:100%;
	height: 42px;
	font-family: "Helvetica", sans-serif;
	font-weight: 600;
	font-size: 20px;
	margin-top: 10px;
	padding-left: 20px;
}

input#searchbar::-webkit-input-placeholder {
	font-family: "Helvetica", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #D8D8D8;
}

.search-result {
	background: yellow;
}

.section-link {
	border-radius: 0px 10px 10px 0px;
	transition: background-color 0.5s ease;
	background: transparent;
	cursor: pointer;
}

.section-link h2 {
	font-family: "Helvetica", sans-serif;
	font-weight: 600;
	font-size: 20px;
	padding-left: 20px;
	z-index: 1;
}
.section-link p {
	padding-left: 80px;
	font-family: Helvetica;
	font-size: 16px;
	color: #000000;
	z-index: 1;
}

.section-link:hover > div {
	background: #B8FFEB;
}

.close {
	float: right;
	color: white;
	font-size: 24px;
}

.close:hover {
	color: red;
	background-color: #555;
}

.header {
	margin-top: 30px;
}

.footnote {
	width: 100%;
	transition: all 0.5s ease-in-ease-out;
}
.footnote h2 {
	font-size: 16px;
	font-weight: 600;
	color: #000000;
}
.footnote > .cont {
	padding: 15px;
	background: #F4F4F4;
	max-height: 280px;
	min-height: 30px;
}

.toc {
	position: fixed;
	width: 230px;
	height: 100%;
	margin-top: 40px;
	overflow-y: auto;
}

.toc.affix {
	margin-top: 0;
	top: 30px;
}

.toc a {
	color: #323A44;
	border-left: 2px solid transparent;
}

.toc .active > a,
.toc li > a:hover {
	color: #3f51b5;
	background: transparent;
	border-left: 2px solid #3f51b5;
}

.toc .nav li .nav, .toc .nav li .nav li .nav {
	display: none;
}

.toc .nav li .nav li a {
	padding: 6px 0 1px 20px;
	font-size: 1.2rem;
	font-weight: normal;
}

.toc .nav li .nav li .nav li a {
	padding-left: 30px;
}

.toc .nav>.active .nav, .toc .nav>.active .nav>.active .nav {
	display: block;
}

.content {
	text-align: justify;
}

.content > div > h1 {
	margin: 8rem 0 2rem 0;
	text-align: center;
}

.content ol[type="1"] > li > header {
	font-weight: bold;
}

.content ol[type="a"] > li > header {
	display: inline;
	font-style: italic;
}

.content ol[type="a"] > li > header + p {
	display: inline;
}

.sigblock {
	margin-top: 3rem;
	text-align: right;
	font-family: monospace;
}

.asides {
	position: relative;
}

discussion {
	position: absolute;
	font-size: 1.25rem;
	text-align: justify;
	background: #f4f4f4;
	padding: 12px;
}

discussion:before {
	content: 'Discussion';
	font-size: 1.3rem;
	font-weight: bold;
}
